
<div class="container">
  <h1>Welcome to the Booth Bidding Buddy</h1>
  <h3>Search a class</h3>
  <h3>Search a professor</h3>
  <h3>Build your schedule</h3>
  <h3>All classes</h3>
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://robohash.org/;lakskdflkasdjf" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Professor Search</h5>
    <p class="card-text">See all professors</p>
    <a href="#" class="btn btn-primary">Search Professors</a>
  </div>
</div>


  <h3><a class="btn" href="/professors">All professors</a></h3>
</div>

<div style="padding: 0px 0px 500px">
</div>