
<div class="container-fluid">
  <h1>Welcome to the Booth Bidding Buddy</h1>

  <div class="card-group" style="background-color: #D6D6CE;">

    <div class="card" style="width: 18rem; padding: 10px; margin: 5px">
      <img class="card-img-top" src="https://robohash.org/;lakskiflkasdjf" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Professor Search</h5>
        <a href="#" class="btn btn-dark">Search Professors</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; padding: 10px; margin: 5px">
    <img class="card-img-top" src="https://robohash.org/;lakskiflkasdjf" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Course Search</h5>
        <a href="#" class="btn btn-dark">Search Courses</a>
      </div>
    </div>

    <div class="card" style="width: 18rem; padding: 10px; margin: 5px">
      <img src="https://robohash.org/;ljjskiflkasdjf" class="card-img-top" alt="Course Search">
      <div class="card-body">
        <h5 class="card-title">Your Classes</h5>
        <a href="#" class="btn btn-dark">Visit Backpack</a>
      </div>
    </div>

  </div>
</div>


  <h3><a class="btn" href="/professors">All professors</a></h3>
</div>

<div style="padding: 0px 0px 500px">
</div>