<div>
  <div>
    <h1>
      List of all professors
    </h1>
  </div>
</div>

<hr>

<hr>
<div>
  <div>
    <table class="table">
      <tr>

        <th scope="col">
          Name
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @list_of_professors.each do |a_professor| %>
      <tr>

        <td>
          <%= a_professor.name %>
        </td>

        <td>
          <a href="/professors/<%= a_professor.id %>" class="btn btn-dark">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
