<div>
  <div>
    <h1>
      Professor Search
    </h1>
  </div>
</div>

<div class="container">
  <form class="form-inline" action="/professors/search/<%=:prof_query%>">
    <div class="form-group mb-2">
      <label for="search_all_courses">Search All Professors</label>
    </div>
    <div class="forms-group mx-sm-3 mb-2">
      <input type="search" placeholder="Professor Search" aria-label="Search" id="search_all_courses" name="prof_query" class="form-control">
    </div>
    <button type="submit" class="btn btn-dark mb-2">Search</button>
  </form>
</div>

<hr>

<hr>
<div>
  <div>
    <table class="table">
      <tr>

        <th scope="col">
          Name
        </th>

        <th scope="col">
        </th>
      </tr>

      <% @list_of_professors.each do |a_professor| %>
      <tr>

        <td>
          <%= a_professor.name %>
        </td>

        <td>
          <a href="/professors/<%= a_professor.id %>" class="btn btn-dark">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
