<div>
  <div>
    <h1>
      Course Search
    </h1>
  </div>
</div>

<hr>


<hr>
<div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            Course Number
          </th>

          <th scope="col">
            Course Title
          </th>

          <th scope="col">
          </th>
        </tr>
      </thead>
      <tbody>
        <% @matching_courses.each do |a_course| %>
        <tr>
          <th scope="row">
            <%= a_course.course_number %>
          </th>

          <td>
            <%= a_course.title %>
          </td>

          <td>
            <a href="/courses/<%= a_course.id %>" class="btn btn-dark">
              Show details
            </a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<hr>
