<h1>Sign up</h1>

  <form action="/insert_user" method="post">

    <div class="form-floating mb-3">
      <input id="email_box" name="query_email" placeholder="Choose a email..." type="text" class="form-control">
      <label for="email_box">Email</label>
    </div>
                  
    <div class="form-floating mb-3">
      <input type="text" id="first_name_box" name="query_first_name" class="form-control">
      <label for="first_name_box">First name</label>
    </div>
          
    <div class="form-floating mb-3">
      <input type="text" id="last_name_box" name="query_last_name" class="form-control">
      <label for="last_name_box">Last name</label>
    </div>
          
    <div class="form-floating mb-3">
      <input type="text" id="graduation_year_box" name="query_graduation_year" class="form-control">
      <label for="graduation_year_box">Graduation year</label>
    </div>
          
    <div class="form-floating mb-3">
      <input type="text" id="bid_wealth_box" name="query_bid_wealth" class="form-control">
      <label for="bid_wealth_box">Bid wealth</label>
    </div>
      
    <div class="form-floating mb-3">
      <input id="password_box" name="query_password" placeholder="Choose a password..." type="password" class="form-control">
      <label for="password_box">Password</label>

    </div>

    <div class="form-floating mb-3">
      <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password" class="form-control">
      <label for="password_confirmation_box">Password Confirmation</label>
    </div>

    <button class="btn btn-dark">
      Sign up
    </button>
  </form>

<hr>

<p>
  Or, <a href="/user_sign_in" class="btn btn-dark">Sign in</a> instead.
</p>
