<!DOCTYPE html>
<html>
  <head>
    <title>Booth Bidding Buddy</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <div>
      <a href="/">Home</a>
      <a href="/quick_reference">Quick Reference</a>
      <a href="/user_backpack">Plan Your Schedule</a>
      <a href="/about">About Bid Buddy</a>
      <a href="/user_sign_in">Sign In</A>
    </div>
    <%= yield %>
  </body>
</html>
